

name: CI


on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
    
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.3
        with:
          node-version: 14.x
        
      - name: Instal dependencies
        run: npm install
        
      - name: Run build
        run: npm run build
        
      - name: copy file via ssh password
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key:  ${{ secrets.SSH_KEY }}
          source: "."
          target: "~/app"
      
      #Instalar as dependencias
      #Executar a build
      #Copiar a dist atualizada para a digital ocean
      #Entrar na digital


